@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500&display=swap');


*{margin: 0;
padding:0;
font-family: 'Muli',sans-serif;

box-sizing: border-box;
line-height: 40px;}

body{background: #150238;
color:#fff;
}



.header{display: flex;
}
.left{
    margin-top: 20px;

}

.tab-titles{display:flex;
    margin-top:150px;
    margin-left:390px;
}

.left h1,h1{color:#cd4ccf;}


    
  

    


.row1{display: flex;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    height:3px;
    width:0%;
    background: #cd4ccf;
    position: absolute;
    left:0;
    bottom:40px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    
    width:100%;
    
}

.pic img{height:150px;
width:auto;

border-radius: 50%;
margin-top: 10px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{display:block;}

.contact-left{flex-basis: 35%;
margin-right: 20px;}

.contact-right{flex-basis: 60%;}


.social-icons{font-size: 18px;}

.contact-right form,form input,textarea{width:100%;
}

form input,textarea{border:0;
    outline:none;
    padding:15px;
    margin:15px 0;
    font-size:18px;
    border-radius: 6px;
}

.submitbtn{
    font-size: 20px;
    background: #cd4ccf;
    color:white;
    width:100px;
    border:none;
    border-radius: 6px;
    padding:5px;
}

.about-col-2,#Education,#Skills,#Contact{

font-size: 22px;
margin-left: 10px;
width:800px;



}
.about-col-2 h1,#Education h1,#Skills h1,#Contact h1{font-size: 30px;
margin-bottom: 20px;

}

#Education span{color: #cd4ccf;}

.databox{display: flex;}
.sidedata{flex-basis:35%;
    margin-top:5px;
}
.rightdata{flex-basis:65%;}
@media only screen and (max-width:600px){

    
    .about-col-2,#Education,#Skills,#Contact{font-size:16px;
        margin-left: 60px;
        width: 250px;
    }

    .sidedata{display: none;

    }

    .tab-titles{margin-left: 110px;
        margin-top: 20px;
        
        
        

    display: block;}
    .tab-links{font-size: 16px;}

    .tab-links.active-link::after{
    
        width:0%;
        
    }
    .tab-links:hover{color: #cd4ccf;}

    .about-col-2 h1,#Education h1,#Skills h1,#Contact h1{font-size: 28px;
        text-align: center;
        margin-bottom: 2px;
    }

    .pic img{height:120px;
        width:auto;
        
        border-radius: 50%;
        margin-top: 10px;
        }
    h1{font-size: 28px;}
   
    .row1{
        display: block;
    }

    .social-icons p{font-size: 14px;
    margin-left:0px;}
    .social-icons p i{
    color:aqua;}
    
    form input,textarea{margin: 10px 0px;
    font-size: 14px;}

   
}

.submitbtn:hover{opacity: 0.4;
cursor: pointer;}
#msg{margin-top: 2px;
display:block;}
